*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
	text-decoration: none;
}
 body
{
	background-color: #ffffff;
	max-width: 100%;
}
.progress {
    background-color: #F5F5F5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    overflow: hidden;
    width: 100%;
}
.textcourses
{
	text-align: center;
	padding: 0 0.9em 0 0;
}
/*
Empiezan estilos del nav----------------------------------------------------
*/
.navbar
{
    width:100%;
}
.navbar-default {
    background:#2196F3;
    border: none;
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
}
.navbar-nav{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float:none;
    font-size: 1em;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a
{
    color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
background-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
}
.navbar-toggle:hover {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color:#1E88E5;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #CFD8DC;
}
.navbar {
    position: relative;
    min-height: 50px;
   margin-bottom: 0;
    border: 1px solid transparent;
}
/*
Terminan estilos del nav--------------------------------------------------
*/
h1
{
	text-align: center;
	padding: 0 2em 0 0;
}
header
{
	background: #32352e;
	color: #ffffff;
	padding: 2em 1em 1em 1em;
	overflow: hidden;
	height: 125px;
	width: 100%;
	position: relative;
}
a{
	text-decoration: none;
}
header #yo
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 130px;
	height: 120px;
	margin-bottom: 20px;
	border-radius: 50%;
}
.icon_blancos{
color: #ffffff;
}
.social
{
	left: 0;
	position: fixed;
	top: 55%;
}
.social ul
{
	list-style: none;
}
.social ul li a
{
	display: inline-block;
	padding: 0.5em 0.5em;
	font-size: 1.3em;
	background: #000000;
	text-decoration: none;
	color: #ffffff;
}
.social ul li a:hover
{
	background-color: #000000;
}
.social ul li .icon-faceb{background-color: #0D47A1;}
.social ul li .icon-instagram{background-color: #757575;}
.social ul li .icon-youtube{background-color: #F44336;}
.social ul li .icon-google-plus{background-color: #FF5722;}
.social ul li .icon-github{background-color: #212121;}

#slides a
{
	display: none;
}
.menu-fixed
{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	opacity: 0.8;
}
.fondo
{
	background-color: #1E88E5;
	color: #ffffff;
}

#navegacion-fm ul li a
{
	color: #ffffff;
	font-size: 1.3em;
}
span
{
	font-size: 1em;
}
/*
Estilos del Formulario de Login-----------------------------------------------
*/
.logincc
{
	text-align: center;
	border: 1px solid #ffffff;
	width: 400px;
	height: auto;
	margin: 2em auto;
	display: block;
}
.logincc input
{
	margin: 1em;
	padding: 1em;
}
form a
{
	color: white;
}
 #slides {
      margin: 0;
	  padding: 0;
    }
#slides ul
{
	display: none;
}
/* 
estilos del seccion 2---------------------------------------------
 */
 .seccion2
 {
 	margin: 0 0 0 0.5em;
 }
 /* Estilos de combo --------------- */

.combobox
{
	background-color:#1565C0;
	font-size: 1.1em;
	color: #ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 1em;
	cursor: pointer;
}
.formcourses
{
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
}

/*
Para dispositivos móviles-------------------------------------------
*/

	.margin
{
	margin: 0;
}
@media screen and (max-width:800px){

	h1{
		padding: 0 0 0 4em;
	}
	#slides
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width:400px){
	h1{
		padding: 0 5px 0 0;
	}
	header #yo
	{
		display: none;
	}
	.margin
	{
	margin: 1em;
	}
	header
	{
		padding: 0 0 2em 0;
	}
	footer  a span {
	padding-right: 0;
	}
	.navbar-default
	{
		opacity: 0.8;
	}
/* 	.logincc input, a, img 
{
    margin: 0;
} */
	.logincc 
{
	display: block;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
}
	.logincc input,a,img 
{
	margin-right: 2em;
}
	#slides
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	footer span
{
	padding: 0;
}
}
footer
{
	background-color:#2196F3;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
footer p:first-child
{
	padding: 2em 0 0 0;
	text-align: center;
	color: #ffffff;
	font-size: 1.2em;
}
footer p
{
	padding:0;
	text-align: center;
	color: #ffffff;
	font-size: 1.2em;
}
footer span
{
	padding-right: 1em;
	text-align: center;
	color: #ffffff;
	font-size: 1.8em;
	cursor: pointer;
}
footer .gh{color: #E91E63;}
footer .lk{color: #1A237E;}
footer .ig{color: #607D8B;}
footer .fb{color: #1565C0;}