.input
{
	width: 20em;
	height: 40px;
	color: #215978;
	font-size: 1.3em;
	text-align: center;
}
form #btnaceptar
{
	text-align: center;
	padding: 0.83em 1.5em;
	font-size: 1.2em;
	margin-bottom: 10px;
}
@media screen and (max-width:400px){
.input
{
	width: 15.5em;

}
}